body{
    background-color: lightseagreen;
}

.max-height{
    min-height: 100vh;
}

.box{
    background-color: rgb(220, 235, 245);
}

.hide{
    color: red;
    display: none;
}

.show{
    display: block;
}





